<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/resetdone.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
{% block content %}
<div class="service-container-password">
    <div class="status-indicators">
        <span class="indicator red"></span>
        <span class="indicator yellow"></span>
        <span class="indicator green"></span>
    </div>
    <div class="password-reset-content">
        <h1>Forgot Password</h1>
        <p>Link verifikasi telah dikirim melalui e-mail. Silakan periksa kotak masuk Anda.</p>
    </div>
</div>
{% endblock %}

